@page "/admin/createBook"
@inject IServiceManager _manager
@inject NavigationManager _navigationManager
@inject BookStateService _bookStateService
@rendermode InteractiveServer


<PageTitle>Yeni Kitap Ekle</PageTitle>

<div class="form-container mx-3">
    <h4 class="title text-center"><i class="fa-solid fa-book me-2"></i>Yeni Kitap Ekleme</h4>
    <hr class="mb-4" />
    @if (!string.IsNullOrEmpty(erreurMessage))
    {
        <div class="alert alert-danger" role="alert">
            <i class="fa-solid fa-triangle-exclamation"></i>
            @erreurMessage
        </div>
    }
    <EditForm FormName="CreateBookForm" Model="@book" OnValidSubmit="@CreateBookAsync" Enhance>
        <DataAnnotationsValidator />
        <div class="mb-3 form-div">
            <label for="bookName" class="form-label">Kitap Adı</label>
            <InputText type="text" class="@GetInputClass(nameof(book.Name))" 
            id="bookName" placeholder="Kitap adı girin" @bind-Value="book.Name"/>
            <ValidationMessage For="@(() => book.Name)" class="text-danger" />
        </div>
        <div class="mb-3 form-div">
            <label for="bookPrice" class="form-label">Fiyat</label>
            <InputNumber type="number" class="@GetInputClass(nameof(book.Price))"
             id="bookPrice" placeholder="Fiyat girin" @bind-Value="book.Price" />
           <ValidationMessage For="@(() => book.Price)" class="text-danger" />
        </div>
        <div class="mb-3 form-div">
            <label for="bookCategory" class="form-label">Category</label>
            <InputSelect type="number" class="form-control " id="bookCategory" @bind-Value="book.CategoryId">
                <option value="">Seçiniz</option>
                @foreach (var category in categories)
                {
                    <option value="@category.CategoryId">@category.CategoryName</option>
                }
            </InputSelect>
            <ValidationMessage For="@(() => book.CategoryId)"class="text-danger" />
        </div>
        <div class="mb-3 form-div">
            <label for="bookStock" class="form-label">Stok</label>
            <InputNumber type="number" class="@GetInputClass(nameof(book.Stock))"
             id="bookStok" placeholder="Stok girin" @bind-Value="book.Stock" />
            <span class="text-danger"><ValidationMessage For="@(() => book.Stock)" /></span>
        </div>
        <div class="mb-3 form-div">
            <label for="bookDescription" class="form-label">Açıklama</label>
            <InputTextArea class="@GetInputClass(nameof(book.Description))"
             id="bookDescription" placeholder="Açıklama girin" @bind-Value="book.Description" />
            <ValidationMessage For="@(() => book.Description)" class="text-danger" />
        </div>

        <div class="mb-3 form-div">
            <label for="bookImage" class="form-label">Resim</label>
            <InputText id="bookImage" class="@GetInputClass(nameof(book.ImageUrl))" 
            placeholder="Resim girin" @bind-Value="book.ImageUrl"/>
            <ValidationMessage For="@(() => book.ImageUrl)" class="text-danger" />
        </div>
        <div class="mb-3 form-div">
            <label for="author" class="form-label">Author</label>
            <InputText id="author" class="@GetInputClass(nameof(book.Author))"
             placeholder="Yazar girin" @bind-Value="book.Author" />
            <ValidationMessage For="@(() => book.Author)" class="text-danger" />
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i>
                Kaydet
            </button>
            <a href="/admin/books" class="btn btn-secondary ms-2">
            <i class="fa-solid fa-arrow-left"></i>
                Geri Dön
            </a>
        </div>
    </EditForm>
</div>


@code{
    private string erreurMessage="";
    [CascadingParameter]
    private EditContext? editContext{get;set;}
    [SupplyParameterFromForm(FormName = "CreateBookForm")]
    private CreateBookDto book {get;set;} = new();
    private List<ResultCategoryDto> categories=[];
    protected override async Task OnInitializedAsync()
    {
       categories = await _manager.CategoryService.GetAllCategoriesAsync();
    }
    private async Task CreateBookAsync()
    {
        var response=await _manager.BookService.AddBookAsync(book);
        if (!response.IsSuccessStatusCode){
            erreurMessage = "une erreur s'est produite lors de l'ajout du livre.";
            return;
        }
        _bookStateService.AddBook(new ResultBookDto
        {
            Name = book.Name,
            Price = book.Price,
            Stock = book.Stock,
            ImageUrl = book.ImageUrl!,
            Category = await  _manager.CategoryService.GetCategoryAsync(book.CategoryId)
        });
        _navigationManager.NavigateTo("/admin/books");
        
    }
    private string GetInputClass(string fieldName)
    {
        if (editContext == null) return "form-control form-input";
        // Check if the field is valid
        var fieldIdentifier = new FieldIdentifier(book, fieldName);
        var isInvalid = editContext?.GetValidationMessages(fieldIdentifier).Any() == true;
        return isInvalid ? "form-control form-input invalid" : " form-control form-input";
    }
}    
    
